<header>
  <h1 class="header-title">
    <a href="{{ site.url }}">
      {{ site.title }}
    </a>
  </h1>

  <div class="header-menu-mobile">
    <div class="menu-toggle">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </div>
    <nav class="header-menu-mobile-nav hidden">
      <a class="nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}">Home</a> {% comment %} The code
      below dynamically generates a sidebar nav of pages with `layout: page` in the front-matter. See readme for usage. {%
      endcomment %} {% assign pages_list = site.pages %} {% for node in pages_list %} {% if node.title != null %} {% if node.layout
      == "page" %}
      <a class="nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a> {% endif
      %} {% endif %} {% endfor %}
    </nav>
  </div>

  <nav class="header-menu">
    <a class="nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}">Home</a> {% comment %} The code
    below dynamically generates a sidebar nav of pages with `layout: page` in the front-matter. See readme for usage. {%
    endcomment %} {% assign pages_list = site.pages %} {% for node in pages_list %} {% if node.title != null %} {% if node.layout
    == "page" %}
    <a class="nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a> {% endif
    %} {% endif %} {% endfor %}
  </nav>

  <section class="header-contacts">
    <a class="header-contacts-link" href="mailto:eu@marquinhusgoncalves.com">
      <span class="header-contacts-circle">
        <i class="icon-email"></i>
      </span>
    </a>
    <a class="header-contacts-link" href="http://br.linkedin.com/in/marcusviniciusgoncalves" target="_blank">
      <span class="header-contacts-circle">
        <i class="icon-linkedin"></i>
      </span>
    </a>
    <a class="header-contacts-link" href="https://facebook.com/marquinhus.goncalves" target="_blank">
      <span class="header-contacts-circle">
        <i class="icon-facebook"></i>
      </span>
    </a>
    <a class="header-contacts-link" href="https://twitter.com/marquinhusgonc" target="_blank">
      <span class="header-contacts-circle">
        <i class="icon-twitter"></i>
      </span>
    </a>
    <a class="header-contacts-link" href="https://github.com/marquinhusgoncalves" target="_blank">
      <span class="header-contacts-circle">
        <i class="icon-github"></i>
      </span>
    </a>
    <a class="header-contacts-link" href="https://medium.com/@marquinhusgonc" target="_blank">
      <span class="header-contacts-circle">
        <i class="icon-medium"></i>
      </span>
    </a>
    <a class="header-contacts-link" href="https://codepen.io/marquinhusgoncalves" target="_blank">
      <span class="header-contacts-circle">
        <i class="icon-codepen"></i>
      </span>
    </a>
  </section class="header-contacts">
</header>

<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  // var $menuToggle = document.querySelector('.menu-toggle');
  // $menuToggle.addEventListener('click', function() {
  //   $(this).toggleClass("on");
  //   $('.header-menu-mobile').toggleClass("on");
  //   $("nav ul").toggleClass('hidden');
  // })

  $(".menu-toggle").on('click', function() {
  $(this).toggleClass("on");
  $('.header-menu-mobile').toggleClass("on");
  $(".header-menu-mobile-nav").toggleClass('hidden');
});
</script>