<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">


  <title>
    {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}

  </title>
  <!-- Google Authorship Markup -->
  <meta name="google-site-verification" content="ysRWj6DIiYsGyNLyWD9EMuCOMs5uzDJIBewp9C7i830" />
  <link rel="author" href="https://plus.google.com/+MarquinhusGoncalves?rel=author">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto:400,700,900">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
