---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">
      {% assign m = page.date | date: "%-m" | minus: 1 %}
      {{ site.months[m] }}
      {{ page.date | date: "%Y" }}
    </span>
  </header>
  <section class="post-content">
    {{ content }}
  </section>
</article>
<div class="post-related">
  <h2 class="post-related-title">Posts Relacionados</h2>
  <div class="cards">
    {% for post in site.related_posts limit:3 %}
      <a href="{{ post.url }}" class="card">
        <article>
          <header>
            <h1 class="card-title">{{ post.title }}</h1>
          </header>
        </article>
        <div class="card-plus"></div>
      </a>
    {% endfor %}
  </div>
</div>

{% include comments.html %}
