.cards {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}

.card {
  width: calc((100% - 60px) / 3) ;
  border: 1px solid $color-grey-light;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 100px;
  position: relative;
  margin: 10px;
  color: $color-blue;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

.card-title {
  font-size: 16px;
  text-align: center;
}

.card-description {
  font-size: 14px;
  color: $color-black;
}

.card-plus {
  // border: 1px solid #25aae1;
  // border-radius: 50%;
  width: 10px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;

  &::after {
    content: "+";
    position: relative;
    bottom: 5px;
    right: 7px;
  }
}
