.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 15px;
  background-color: $color-blue;
}

.header-title {
  font-size: 18px;
  font-weight: 900;
}

.nav-item {
  padding: 15px;
  cursor: pointer;

  &:hover {
    color: $color-white;
  }
}

.nav-item.active {
  border-bottom: 1px solid $color-black;
}

.header-contacts-link {
  &:hover {
    color: $color-white;

    & .header-contacts-circle {
      border-color: $color-white;
    }
  }
}

.header-contacts-circle {
  border: 1px solid $color-black;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  cursor: pointer;
}

.icon-aboutme {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.header-menu-mobile {
  display: none;

  &.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  }

  .header-menu-mobile-nav {
    width: 100%;
  }

  .nav-item {
    transition-duration: 0.5s;
    color: $color-white;
    font-size: 40px;
    display: block;
    text-align: center;

    &:hover {
      background-color: rgba(0,0,0,0.5);
    }
  }
}

.menu-toggle {
  width: 30px;
  cursor: pointer;

  .one,
  .two,
  .three{
    height: 3px;
    background: #000;
    margin: 7px auto;
    transition-duration: 0.3s;
  }

  &.on {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;

    .one {
      transform: rotate(45deg) translate(7px, 7px);
    }

    .two {
      opacity: 0;
    }

    .three {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

.hidden {
  display: none;
}

@media (max-width: 780px) {
  header {
    flex-wrap: wrap;
    height: 100px;
  }

  .header-title {
    width: calc(100% - 30px);
  }

  .header-menu {
    display: none;
  }

  .header-menu-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-contacts {
    margin: 0 auto;
    padding: 5px;
  }
}
