.post {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: .003em;
  margin-bottom: 20px;

  a {
  color: $color-blue;

    &:hover {
      color: $color-blue-dark;
    }
  }
}

.post-title {
  font-size: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}


.highlighter-rouge {
  background-color: $color-grey-light;
  overflow: hidden;
  padding: 10px;
}

.post-related,
.post-related-title {
  margin-bottom: 20px;
}

.post-related-posts {
  display: flex;
}

.post-related-posts-items {
  padding-right: 20px;
  cursor: pointer;

  a {
    color: $color-blue;

    &:hover {
      color: $color-blue-dark;
    }
  }
}