@font-face {
  font-family: 'marq';
  src:  url('../fonts/marq.eot');
  src:  url('../fonts/marq.eot') format('embedded-opentype'),
    url('../fonts/marq.ttf') format('truetype'),
    url('../fonts/marq.woff') format('woff'),
    url('../fonts/marq.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'marq' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medium:before {
  content: "\e900";
}
.icon-codepen:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e907";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-aboutme:before {
  content: "\e908";
}