// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-light: #F5F5F5;
$color-blue: #25AAE1;
$color-blue-dark: darken($color-blue, 15%);

// Spaces
$sizing: 20px;

// General settings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$tablet-width: 780px;
$mobile-width: 480px;
$mobile-min-width: 320px;
